include includes/head
body(class="#{locals.pageClass}")
  include includes/nav
  include includes/messages
  .row
    include includes/sidenav

    .large-9.columns.medium-8.columns

      input(type="hidden", name="personId", value=locals.person.PersonID)
      dl.tabs(data-tab='')
        dd.active
          a(href='#panel2-1') Personliga data
        dd
          a(href='#panel2-2') Loginuppgifter
        //- dd
        //-   a(href='#panel2-3') Banner
        //- dd
        //-   a(href='#panel2-4') Presentation

      .tabs-content
        #panel2-1.content.active
          form(method="post")
            fieldset
              legend Personliga data
              .row
                .large-2.columns
                  label
                    | Titel
                    input(type="text", name='PersonalTitle', value=locals.person.PersonalTitle)
                .large-5.columns
                  label
                    | Förnamn
                    input(type="text", name='FirstName', value=locals.person.FirstName)
                .large-5.columns
                  label
                    | Efternamn
                    input(type="text", name='LastName', value=locals.person.LastName)
                .large-12.columns
                  label
                    | Epost
                    input(type="text", name='Email', value=locals.person.Email)
                .large-12.columns
                  label
                    | Url
                    input(type="text", name='Url', value=locals.person.Url)
                .large-12.columns
                  label
                    | Address 1
                    input(type="text", name='Address1', value=locals.person.Address1)
                .large-12.columns(style="display:none;")
                  label
                    | Address 2
                    input(type="text", name='Address2', value=locals.person.Address2)
                .large-4.columns
                  label
                    | Postnummer
                    input(type="text", name='Zipcode', value=locals.person.Zipcode)
                .large-4.columns
                  label
                    | Stad
                    input(type="text", name='City', value=locals.person.City)
                .large-4.columns
                  label
                    | Land
                    select(name="CountryID")
                      each item in locals.country
                        option(value="#{item.CountryID}", selected=locals.person.CountryID == item.CountryID) #{item.TechName}
                    

                .large-4.columns
                  label
                    | Mobil
                    input(type="text", name='Mobile', value=locals.person.Mobile)
                .large-4.columns
                  label
                    | Telefon
                    input(type="text", name='Phone', value=locals.person.Phone)
                .large-4.columns(style="display:none;")
                  label
                    | Fax
                    input(type="text", name='Fax', value=locals.person.Fax)
                .large-6.columns(style="display:none;")
                  label
                    | Språk
                    select(name="CultureID")
                      each item in locals.culture
                        option(value="#{item.CultureID}", selected=locals.person.CultureID == item.CultureID) #{item.Lang}
                .large-6.columns(style="display:none;")
                  label
                    | Dold
                    select(name="Hidden")
                      option(value="1", selected=locals.person.Hidden == '1') Ja
                      option(value="0", selected=locals.person.Hidden == '0') Nej
                .large-6.columns(style="display:none;")
                  label
                    | Län
                    select(name="RegionID")
                      option(value="", selected=locals.person.RegionID == '') Välj...
                      each item in locals.region
                        option(value="#{item.RegionID}", selected=locals.person.RegionID == item.RegionID) #{item.RegionName}
                .large-12.columns(style="display:none;")
                  label
                    | Anteckningar
                    textarea(name='Notes') #{locals.person.Notes}
                
                
                
                
                
                
                
                
            .row(style="display:none")
              .large-6.columns
                label
                  | _id
                br
                span #{locals.person._id}
                input(type='hidden', name='_id', value=locals.person._id)
              .large-6.columns
                  label
                    | Attribute1
                    input(type="text", name='Attribute1', value=locals.person.Attribute1)
                
                .large-6.columns
                  label
                    | NotificationTypePrstRqstOpen
                    select(name="NotificationTypePrstRqstOpen")
                      option(value="Mail", selected=locals.person.NotificationTypePrstRqstOpen == 'Mail') Mail
                .large-6.columns
                  label
                    | NotificationTypePrstRqstDirect
                    select(name="NotificationTypePrstRqstDirect")
                      option(value="Mail", selected=locals.person.NotificationTypePrstRqstDirect == 'Mail') Mail
                .large-6.columns
                  label
                    | IDNumber
                    input(type="text", name='IDNumber', value=locals.person.IDNumber)
              .large-6.columns
                label
                  | PersonCreated
                br
                span #{locals.person.PersonCreated}
                input(type='hidden', name='PersonCreated', value=locals.person.PersonCreated)
              .large-6.columns
                label
                  | LastUpdated
                br
                span #{locals.person.LastUpdated}
                input(type='hidden', name='LastUpdated', value=locals.person.LastUpdated)
              .large-6.columns
                label
                  | Attribute3
                br
                span #{locals.person.Attribute3}
                input(type='hidden', name='Attribute3', value=locals.person.Attribute3)
              .large-6.columns
                label
                  | BoolField2
                br
                span #{locals.person.BoolField2}
                input(type='hidden', name='BoolField2', value=locals.person.BoolField2)
              .large-6.columns
                label
                  | PersonID
                br
                span #{locals.person.PersonID}
                input(type='hidden', name='PersonID', value=locals.person.PersonID)
              .large-6.columns
                label
                  | IntField1
                br
                span #{locals.person.IntField1}
                input(type='hidden', name='IntField1', value=locals.person.IntField1)
              .large-6.columns
                label
                  | BoolField1
                br
                span #{locals.person.BoolField1}
                input(type='hidden', name='BoolField1', value=locals.person.BoolField1)
              .large-6.columns
                label
                  | IntField2
                br
                span #{locals.person.IntField2}
                input(type='hidden', name='IntField2', value=locals.person.IntField2)
              .large-6.columns
                label
                  | InfoText1
                br
                span #{locals.person.InfoText1}
                input(type='hidden', name='InfoText1', value=locals.person.InfoText1)
              .large-6.columns
                label
                  | InfoText3
                br
                span #{locals.person.InfoText3}
                input(type='hidden', name='InfoText3', value=locals.person.InfoText3)
              .large-6.columns
                label
                  | InfoText2
                br
                span #{locals.person.InfoText2}
                input(type='hidden', name='InfoText2', value=locals.person.InfoText2)
              .large-6.columns
                label
                  | Attribute2
                br
                span #{locals.person.Attribute2}
                input(type='hidden', name='Attribute2', value=locals.person.Attribute2)
              .large-6.columns
                label
                  | NewAutoReg
                br
                span #{locals.person.NewAutoReg}
                input(type='hidden', name='NewAutoReg', value=locals.person.NewAutoReg)

            input.button.small(type="submit", name="editperson", value="Spara persondata")
        #panel2-2.content
          // Login
          // 
          form(method="post")
            //- input.button.small(type="submit", value="Save", name="editLogin")
            fieldset
              legend Login-uppgifter
              .row  
                .large-6.columns(style="display:none;")
                  label
                    | Avstängd
                    select(name="Disabled")
                      option(value="0", selected=locals.login.Disabled == "0") Nej
                      option(value="1", selected=locals.login.Disabled == "1") Ja
              .row  
                .large-12.columns
                  label
                    | Login-namn
                    input(type="text", name='LoginName', value=locals.login.LoginName)
                .large-12.columns
                  label
                    | Ange nytt lösenord (för att ändra)
                    input(type="text", name='newpwd')
              .row
                .large-6.columns(style="display:none;")
                  label
                    | Superanvändare
                    select(name="SuperUser")
                      option(value="0", selected=locals.login.SuperUser == "0") Nej
                      option(value="1", selected=locals.login.SuperUser == "1") Ja
                .large-6.columns(style="display:none;")
                  label
                    | Root-administratör
                    select(name="RootAdmin")
                      option(value="0", selected=locals.login.RootAdmin == "0") Nej
                      option(value="1", selected=locals.login.RootAdmin == "1") Ja
              .row(style="display:none")
                .large-6.columns
                  label
                    | _id
                    input(type='hidden', name='_id', value=locals.login._id)
                .large-6.columns
                  label
                    | LoginID
                    input(type='hidden', name='LoginID', value=locals.login.LoginID)
                .large-6.columns
                  label
                    | DisabledUntil
                    input(type='hidden', name='DisabledUntil', value=locals.login.DisabledUntil)
                .large-6.columns
                  label
                    | PwdCreated
                    input(type='hidden', name='PwdCreated', value=locals.login.PwdCreated)
                .large-6.columns
                  label
                    | LastUpdated
                    input(type='hidden', name='LastUpdated', value=locals.login.LastUpdated)
                .large-6.columns
                  label
                    | LastOKLogin
                    input(type='hidden', name='LastOKLogin', value=locals.login.LastOKLogin)
                .large-6.columns
                  label
                    | NoOfFailedLogins
                    input(type='hidden', name='NoOfFailedLogins', value=locals.login.NoOfFailedLogins)
                .large-6.columns
                  label
                    | PersonID
                    input(type='hidden', name='PersonID', value=locals.login.PersonID)
                .large-6.columns
                  label
                    | ValidUntil
                    input(type='hidden', name='ValidUntil', value=locals.login.ValidUntil)
                .large-6.columns
                  label
                    | AutoLogin
                    input(type='hidden', name='AutoLogin', value=locals.login.AutoLogin)
                .large-6.columns
                  label
                    | CreatedBy
                    input(type='hidden', name='CreatedBy', value=locals.login.CreatedBy)
                .large-6.columns
                  label
                    | AccessMembership
                    input(type='hidden', name='AccessMembership', value=locals.login.AccessMembership)
                .large-6.columns
                  label
                    | PersonData
                    input(type='hidden', name='PersonData', value=locals.login.PersonData)

            input.button.small(type="submit", value="Spara loginuppgifter", name="editLogin")  
        //- #panel2-3.content
        //-   table#list-banners
        //-     thead
        //-       th(data-dynatable-column="BannerName") BannerName
        //-       th(data-dynatable-column="StartDate") StartDate
        //-       th(data-dynatable-column="EndDate") EndDate
        //-       th(data-dynatable-column="LastUpdated") LastUpdated
        //-     tbody
        //- #panel2-4.content
        //-   p Presentation
  include includes/footer
