extends ../layout
include includes/messages
block content
  section.main-content.container
    .row
      .small-2.columns
        include ../partials/adminmenu
      .small-10.columns
        form(method="post")
          input.button.small(type="submit", value="Save")
          div.row
            - for (var key in locals.page) {
              div.large-6.columns
                label
                  | #{key}
                  - if (key == '_id') {
                    br
                    span #{locals.page[key]}
                    input(type="hidden", name="#{key}", value="#{locals.page[key]}")
                  - } else if (key == 'OwnerID') {
                    br
                    a(href="/admin/person/id/#{locals.page[key]}") #{locals.page[key]}
                  - } else {
                    textarea(name="#{key}") #{locals.page[key]}
                  - }

            - }
          input.button.small(type="submit", value="Save")