include includes/head

body(class=locals.pageClass)
  include includes/nav
  include includes/messages
  
  .row
    include includes/sidenav
    
    form(method="POST", action="/admin/savekundkort", id="kundkort")
      input(type="hidden", name="_id", value=locals.contactObject._id)
      input(type="hidden", name="currentUser", value=locals.currentUser.LoginName)
      
      .large-9.columns.medium-8.columns
        h3 #{locals.kundtitle}
        .row.administration-content
          .large-2.columns.medium-6.columns
            label Kundansvarig
              select(name="ResponsibleObject")
                option(value="538a04a0e492b29f3ef1c506", selected=locals.contactObject.ResponsibleObject == '538a04a0e492b29f3ef1c506') Jennie Sterner
                option(value="538a04a0e492b29f3ef1c995", selected=locals.contactObject.ResponsibleObject == '538a04a0e492b29f3ef1c995') Johnny Sterner
                option(value="538a04a0e492b29f3ef1ccbd", selected=locals.contactObject.ResponsibleObject == '538a04a0e492b29f3ef1ccbd') Toni Lahtinen
                option(value="", selected=locals.contactObject.ResponsibleObject == undefined) Ingen vald
          .large-2.columns.medium-6.columns.end
            label Grupptillhörighet
              select(name="AccessGroupFullText")
                option(value="memberColleague" selected=locals.contactObject.AccessGroupFullText == 'memberColleague') Medlem
                option(value="prospect" selected=locals.contactObject.AccessGroupFullText == 'prospect') Prospect
                option(value="bransch" selected=locals.contactObject.AccessGroupFullText == 'bransch') Bransch
                option(value="guldklubben" selected=locals.contactObject.AccessGroupFullText == 'guldklubben') Företagskund
                option(value="registeredVisitor" selected=locals.contactObject.AccessGroupFullText == 'registeredVisitor') Privatkund
                //- option(value='medlem') Medlem
                //- option(value='prospect') Prospect
                //- option(value='bransch') Bransch
                //- option(value='privatkund') Privatkund
                //- option(value='foretagskund') Företagskund
        .row.administration-content
          .large-12.medium-12.columns
            dl.accordion(data-accordion='data-accordion')
              dd
                a(href='#content1') Kontakt &amp; Kollegor
                #content1.content
                  .row
                    .large-12.columns
                      input(type="hidden", id="hiddenPersonal", name="hiddenPersonal", value=locals.hiddenPersonal)
                      ul.large-block-grid-3.medium-block-grid-2.small-block-grid-1#personal
                        - var c = 0;
                        each item in locals.contactObject.Personal
                          li
                            - if (c === 0) {
                              h5 Kontakta vid förnyelse
                            - } else {
                              h5 Medarbetare
                            - }
                            .panel
                              ul.personnel
                                li #{item.fullName}
                                li #{item.title}
                                li
                                  a(href='mailto:#{item.email}') #{item.email}
                                li #{item.phone}
                              br
                              a.button.alert.expand Radera Kontakt
                          - c++;
                    .small-12.columns
                      a.button.expand(href='#' data-reveal-id="newEmployee") Lägg till person
              dd
                a(href='#content2') Addresser
                #content2.content
                  .row
                    .large-6.small-12.columns
                      h4 Företagsuppgifter
                      .row
                        .small-12.columns
                          label
                            | Företag
                            input(type="text", name='Organization.OrgName', value=locals.contactObject.Organization.OrgName)
                          label
                            | Postadress
                            input(type="text", name='Organization.PostAddress', value=locals.contactObject.Organization.PostAddress)
                          label
                            | Postnummer
                            input(type="text", name='Organization.PostNumber', value=locals.contactObject.Organization.PostNumber)
                          label 
                            | Postort
                            input(type="text", name='Organization.PostOrt', value=locals.contactObject.Organization.PostOrt)
                          label 
                            | Telefon 1
                            input(type="text", name='Organization.Tel1', value=locals.contactObject.Organization.Tel1)
                          label 
                            | Telefon 2
                            input(type="text", name='Organization.Tel2', value=locals.contactObject.Organization.Tel2)
                          label 
                            | Webb-adress
                            input(type="text", name='Organization.WWW', value=locals.contactObject.Organization.WWW)
                          label 
                            | Org. nummer
                            input(type="text", name='Organization.OrgNumber', value=locals.contactObject.Organization.OrgNumber)
                          label 
                            | Län
                            select(name="Organization.Lan")
                              option(value="", selected=locals.contactObject.Organization.Lan == '') Välj...
                              each item in locals.region
                                option(value="#{item.RegionID}", selected=locals.contactObject.Organization.Lan == item.RegionID) #{item.RegionName}
                          label 
                            | Land
                            select(name="Organization.Country")
                              option(value="", selected=locals.contactObject.Organization.Country == '') Välj...
                              each item in locals.country
                                option(value="#{item.TechName}", selected=locals.contactObject.Organization.Country == item.TechName) #{item.TechName}
                    .large-6.small-12.columns
                      h4 Faktureringsuppgifter
                      .row
                        .small-12.columns
                          label
                            | Företag
                            input(type="text", name='Invoice.OrgName', value=locals.contactObject.Invoice.OrgName)
                          label 
                            | Ref. Namn
                            input(type="text", name='', value=)
                          label
                            | Postadress
                            input(type="text", name='Invoice.RefName', value=locals.contactObject.Invoice.RefName)
                          label
                            | Postnummer
                            input(type="text", name='Invoice.PostAddress', value=locals.contactObject.Invoice.PostAddress)
                          label 
                            | Postort
                            input(type="text", name='Invoice.PostOrt', value=locals.contactObject.Invoice.PostOrt)
                          label 
                            | Faktura Mail
                            input(type="text", name='', value=)
                          label 
                            | Faktura Telefon
                            input(type="text", name='Invoice.InvoiceEmail', value=locals.contactObject.Invoice.InvoiceEmail)
                          label 
                            | Org. Nummer
                            input(type="text", name='', value=)
              dd
                a(href='#content2b') Kundkortstaggar
                #content2b.content
                  .row
                    .large-6.small-12.columns
                      .row
                        .small-12.columns
                          label
                            | Fyll i taggar som beskriver verksamheten
                            input(type="text", name='', value=)
              dd
                a(href='#content3b') Profilsidor
                #content3b.content
                  .small-12.columns
                    a.button Skapa ny profilsida
                  input(type="hidden", id="OwnerCard", name="OwnerCard", value=locals.contactObject._id)
                  span#dynatable-search-group-table.dynatable-search Search:
                    input#dynatable-query-search-group-table(type='search', data-dynatable-query='search')
                  table#customer-table.dynamic-table
                    thead
                      tr
                        th(data-dynatable-column="Title") Sidans Namn
                        th(data-dynatable-column="") Företag &amp; Kontaktperson
                        th(data-dynatable-column="") Sidtyp
                        th(data-dynatable-column="") Giltig t.o.m.
                        th(data-dynatable-column="") Topp
                        th(data-dynatable-column="") Topp-period
                        th(data-dynatable-column="Visible") Synlig/Släckt
                    tbody
                      tr
                        td Samuels sida
                        td 
                          ul
                            li Samuel &amp; Samuel AB
                            li Samuel Samuelsson
                        td Small
                        td 2009-12-12
                        td Topp
                        td 
                          ul
                            li 2009-12-12 t.om. 
                            li 2009-12-12
                        td
                          .red-ball
                      tr
                        td Johans sida
                        td 
                          ul
                            li Johan &amp; Johan AB
                            li Johan Johansson
                        td Medium
                        td 2009-12-12
                        td Topp
                        td 
                          ul
                            li 2009-12-12 t.om. 
                            li 2009-12-12
                        td
                          .red-ball
              dd
                    a(href='#panel4b') Statistik
                    #panel4b.content
                      .row
                        .small-12.medium-12.columns
                          h6 Profilsidor
                          .small-4.columns
                            label
                              | Startperiod
                              input#profile-period-start.datepicker
                          .small-4.columns
                            label
                              | Slutperiod
                              input#profile-period-end.datepicker
                          table#my-table.dynamic-table
                            thead
                              tr
                                th Sidans namn
                                th Antal visningar
                                th Anta klick
                                th Inkommna mail
                            tbody
                              tr
                                td Lindaus bokningssida
                                td 213
                                td 111
                                td 111
                              tr
                                td Inlands bussbiljetter
                                td 432
                                td 321
                                td 111
                              tr
                                td Lindaus bokningssida
                                td 5234
                                td 3213
                                td 111
                              tr
                                td Inlands bussbiljetter
                                td 532
                                td 232
                                td 111
                        .small-12.medium-12.columns
                          h6 Erbjudanden
                          .small-4.columns
                            label
                              | Startperiod
                              input#profile-period-start.datepicker
                          .small-4.columns
                            label
                              | Slutperiod
                              input#profile-period-end.datepicker
                          table#my-table.dynamic-table
                            thead
                              tr
                                th Erbjudandets namn
                                th Antal visningar från erbjudandesida
                                th Anta klick från erbjudandesida
                                th Antal visningar från profilsida
                            tbody
                              tr
                                td Gaffel 1kr/styck
                                td 213
                                td 111
                                td 213
                              tr
                                td Bilknyckning 300kr/timme
                                td 432
                                td 321
                                td 432
                              tr
                                td Banan 32kr/kg
                                td 5234
                                td 3213
                                td 5234
                              tr
                                td Gaffel 1kr/styck
                                td 532
                                td 232
                                td 532
                        .small-12.medium-6
          .large-12.medium-12.columns
            ul.small-block-grid-1.large-block-grid-2
              li
                dl.accordion(data-accordion='myAccordionGroup')
                  dd
                    a(href='#panel2b') Erbjudanden
                    #panel2b.content
                      table#my-table.dynamic-table
                        thead
                          tr
                            th(data-dynatable-column="") Rubrik
                            th(data-dynatable-column="") Startdatum
                            th(data-dynatable-column="") Slutdatum
                            th(data-dynatable-column="") Visas
                            th(data-dynatable-column="") Typ
                            th(data-dynatable-column="") Synlig/Släckt
                        tbody
                          tr
                            td Samuels erbjudande
                            td 2008-12-12
                            td 2009-12-12
                            td Profilsida
                            td Jul
                            td 
                              .red-ball
                          tr
                            td Johans erbjudande
                            td 2008-09-12
                            td 2009-12-12
                            td Erbjudandesida
                            td Event
                            td 
                              .red-ball
                      a.button.expand Nytt erbjudande
              li
                dl.accordion(data-accordion='myAccordionGroup')
                  dd
                    a(href='#panel5b') Intresselista
                    #panel5b.content
                      input(type="hidden", id="intresse", name="intresse", value="#{locals.contactObject.intresse}")
                      div#int-tree
                      div#int-data(style="display:none;")
                        | #{locals.intresse}
        .row
          .large-10.medium-8.columns
            h3 Historik
          .large-2.medium-4.columns
            select#historyFilter(data-dynatable-query="typ")
              option(value='all-history') All historik
              option(value='billing') Ekonomi
              option(value='crm') CRM
              option(value='other') Övrigt
        .row.administration-content
          .large-12.medium-12.columns
            dl.accordion(data-accordion='myAccordionGroup')
              dd
                a(href='#historypanel') Historik
                #historypanel.content
                  //- input#historikJSON(type="hidden", value=locals.historik)
                  dl#history-list.accordion(data-accordion='data-accordion')
                    dd
                    //-   a(href='#content2c') Faktura 1239 betald
                    //-     span.date datum
                    //-   #content2c.content
                    //-     .row
                    //-       .small-12.columns
                    //-         p Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    //-       .small-12.columns
                    //-         a.button Redigera
                    //-         a.button.alert Radera
                    //- dd
                    //-   a(href='#content3c') Faktura 1239 skapad
                    //-     span.date datum
                    //-   #content3c.content
                    //-     .row
                    //-       .small-12.columns
                    //-         p Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    //-       .small-12.columns
                    //-         a.button Redigera
                    //-         a.button.alert Radera
            a.button(data-reveal-id='newHistory') Skapa ny historik
            #newHistory.reveal-modal(data-reveal='data-reveal')
              h2 Ny historik
              select#nyHistorikTyp(name="nyHistorikTyp")
                option(value='') Välj typ
                option(value='billing') Ekonomi
                option(value='crm') CRM
                option(value='other') Övrigt
              textarea#nyHistorikText(name="nyHistorikText")
              a#saveNyHistorik.button Spara
              a.close-reveal-modal(onclick="$('#nyHistorikTyp').val(''); $('#nyHistorikText').val('');") ×
        .row
          .large-12.medium-12.columns
            h3 Kommande kontakter
        .row.administration-content
          .large-12.medium-12.columns
            dl.accordion(data-accordion='data-accordion')
              dd
                a(href='#crm') CRM-lista
                #crm.content.active
                  dl.accordion(data-accordion='data-accordion')
                    dd
                      a(href='#crm1') Ring Bengt
                        span.date datum &amp; klockslag
                      #crm1.content
                        .row
                          .small-12.columns
                            p Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                          .small-12.columns
                            a.button Arkivera
                            a.button.alert Radera
                  dl.accordion(data-accordion='data-accordion')
                    dd
                      a(href='#crm2') Ring Karin
                        span.date datum &amp; klockslag
                      #crm2.content
                        .row
                          .small-12.columns
                            p Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                          .small-12.columns
                            a.button Arkivera
                            a.button.alert Radera
                  a.button(data-reveal-id="newContactOrder") Lägg till kommande kontakt

            button(type='Submit') Spara
    
    #newContactOrder.reveal-modal(data-reveal="data-reveal")
      h2 Lägg till kommande kontakt
      a.close-reveal-modal ×
      form(method="post", action="/admin/savekundkortcontactorder")
        input(type="hidden", name="CreatedBy", value=locals.currentUser._id)
        input(type="hidden", name="CardObjectRef", value=locals.contactObject._id)
        fieldset
          legend Kontaktorder
          .row
            .large-12.columns
              label
                | Beskrivning
                textarea(name="Description")
          .row
            .large-6.columns
              label Datum för kommande kontakt
              input(type="date", name="ExecuteDate")
            .large-6.columns
              label Ev. tid för kommande kontakt
              input(type="time", name="ExecuteTime")
          .row
            .large-12.columns
              label Noteringsfält
              - var datum = new Date();
              - var tid = new Date();
              - datum = datum.getUTCFullYear() + '-' + ('0' + (datum.getMonth() + 1)).slice(-2)+'-'+('0' + (datum.getDate() + 1)).slice(-2);
              - var tid = tid.getHours() + ':' +('0' + (tid.getMinutes() + 1)).slice(-2);
              - var user = locals.currentUser.PersonData[0].FirstName + ' ' + locals.currentUser.PersonData[0].LastName;
              textarea(name="Comment")
                | #{datum} #{tid} #{user} &#013;&#010;

          .row
            .large-6.columns
              label Orderansvarig
              select(name="Responsible")
                option(value="538a04a0e492b29f3ef1c506") Jennie Sterner
                option(value="538a04a0e492b29f3ef1c995") Johnny Sterner
                option(value="538a04a0e492b29f3ef1ccbd") Toni Lahtinen
            .large-6.columns
              label Kontakttyp
              select(name="OrderType")
                option(value="1") Förnya profilsida 
                option(value="2") Sälj in Profilsida
                option(value="13") Demosida
                option(value="3") Kundvårda
                option(value="6") Släck
                option(value="21") Erbjudande 
                option(value="22") Mailannons 
                option(value="23") Meeting
                option(value="4") Övrigt
          .row
            .large-12.columns
              button(type='Submit') Spara
    #newEmployee.reveal-modal(data-reveal='data-reveal')
      .row
        .small-12.columns
          table#person-table(style="width:100%")
            thead
              th(data-dynatable-column="FirstName") FirstName
              //th(data-dynatable-column="OwnerID") Owner Id
              th(data-dynatable-column="LastName") LastName
              th(data-dynatable-column="Email") Email
            tbody
      .row
        .small-12.columns
          a.button.small.right(href="/admin/person/id/new") Skapa ny
          
      // h2 Ny personal
        .row
          .small-12.medium-6.columns
            label
              | Rubrik (t.ex. Medarbetare)
              input(type='text')
            label
              | Namn
              input(type='text')
            label
              | Titel
              input(type='text')
            label
              | E-post
              input(type='text')
            label
              | Telefonnummer
              input(type='text')
          .small-12.medium-6.columns
            a.button.expand Ladda upp profilbild
        .row
          .small-12.columns
            a.button Spara ny personal
        a.close-reveal-modal ×
  include includes/footer