//- hitlist-medium.jade
.panel.small-12.medium-6.large-6.columns(data-equalizer-watch='data-equalizer-watch')
  a(data-reveal-id='profileside#{_id}')
    .informationbox.small-12.medium-12.large-12.columns
      img.thumbnailsmall.show-for-medium-up.right(src='#{LogoImg}', alt='')
      h2 #{Title}
      p.location #{City}
      p #{InfoText1}
    .arrowcontainer.show-for-medium-up
      .arrow